<div>
    <h2>
        <span jhiTranslate="whisperApp.userData.home.title">User Data</span>
        <button class="btn btn-primary float-right jh-create-entity create-user-data" [routerLink]="['/', { outlets: { popup: ['user-data-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="whisperApp.userData.home.createLabel">
            Create new User Data
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="userData">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="whisperApp.userData.birthDate">Birth Date</span></th>
            <th><span jhiTranslate="whisperApp.userData.gender">Gender</span></th>
            <th><span jhiTranslate="whisperApp.userData.pesel">Pesel</span></th>
            <th><span jhiTranslate="whisperApp.userData.phoneNumber">Phone Number</span></th>
            <th><span jhiTranslate="whisperApp.userData.user">User</span></th>
            <th><span jhiTranslate="whisperApp.userData.principle">Principle</span></th>
            <th><span jhiTranslate="whisperApp.userData.agent">Agent</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userData of userData ;trackBy: trackId">
                <td><a [routerLink]="['../user-data', userData.id ]">{{userData.id}}</a></td>
                <td>{{userData.birthDate | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'whisperApp.GENDER.' + userData.gender}}">{{userData.gender}}</td>
                <td>{{userData.pesel}}</td>
                <td>{{userData.phoneNumber}}</td>
                <td>
                    {{userData.user?.email}}
                </td>
                <td>
                    <div *ngIf="userData.principle">
                        <a [routerLink]="['../principle', userData.principle?.id ]" >{{userData.principle?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="userData.agent">
                        <a [routerLink]="['../agent', userData.agent?.id ]" >{{userData.agent?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../user-data', userData.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-data/'+ userData.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-data/'+ userData.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
