
<div *ngIf="sampleOfCampaignActivity">
    <h2><span jhiTranslate="whisperApp.sampleOfCampaignActivity.detail.title">Sample Of Campaign Activity</span> {{sampleOfCampaignActivity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="whisperApp.sampleOfCampaignActivity.activityName">Activity Name</span></dt>
        <dd>
            <span>{{sampleOfCampaignActivity.activityName}}</span>
        </dd>
        <dt><span jhiTranslate="whisperApp.sampleOfCampaignActivity.listOfPosts">List Of Posts</span></dt>
        <dd>
            <span>{{sampleOfCampaignActivity.listOfPosts}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sample-of-campaign-activity/'+ sampleOfCampaignActivity.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
