<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCampaignActivityLabel" jhiTranslate="whisperApp.campaignActivity.home.createOrEditLabel">Create or edit a Campaign Activity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!campaignActivity.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="campaignActivity.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="whisperApp.campaignActivity.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="campaignActivity.name" required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="whisperApp.campaignActivity.url" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                [(ngModel)]="campaignActivity.url" required />
            <div [hidden]="!(editForm.controls.url?.dirty && editForm.controls.url?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.url?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="whisperApp.campaignActivity.creationDate" for="field_creationDate">Creation Date</label>
            <div class="input-group">
                <input id="field_creationDate" type="text" class="form-control" name="creationDate" ngbDatepicker  #creationDateDp="ngbDatepicker" [(ngModel)]="campaignActivity.creationDate"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.creationDate?.dirty && editForm.controls.creationDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.creationDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="whisperApp.campaignActivity.campaignActivity" for="field_campaignActivity">Campaign Activity</label>
            <select class="form-control" name="campaignActivity" [(ngModel)]="campaignActivity.campaignActivity" id="field_campaignActivity"  required>
                <option value="NONE">{{'whisperApp.CAMPAING_ACTIVITY_STATUS.NONE' | translate}}</option>
                <option value="POSITIVE">{{'whisperApp.CAMPAING_ACTIVITY_STATUS.POSITIVE' | translate}}</option>
                <option value="NEGATIVE">{{'whisperApp.CAMPAING_ACTIVITY_STATUS.NEGATIVE' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.campaignActivity?.dirty && editForm.controls.campaignActivity?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.campaignActivity?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="whisperApp.campaignActivity.text" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                [(ngModel)]="campaignActivity.text" required maxlength="300" />
            <div [hidden]="!(editForm.controls.text?.dirty && editForm.controls.text?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.text?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.text?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 300 }">
                   This field cannot be longer than 300 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="whisperApp.campaignActivity.linkToActivity" for="field_linkToActivity">Link To Activity</label>
            <input type="text" class="form-control" name="linkToActivity" id="field_linkToActivity"
                [(ngModel)]="campaignActivity.linkToActivity" required maxlength="500" />
            <div [hidden]="!(editForm.controls.linkToActivity?.dirty && editForm.controls.linkToActivity?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.linkToActivity?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.linkToActivity?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 500 }">
                   This field cannot be longer than 500 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="whisperApp.campaignActivity.nickINActivity" for="field_nickINActivity">Nick IN Activity</label>
            <input type="text" class="form-control" name="nickINActivity" id="field_nickINActivity"
                [(ngModel)]="campaignActivity.nickINActivity" required maxlength="100" />
            <div [hidden]="!(editForm.controls.nickINActivity?.dirty && editForm.controls.nickINActivity?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nickINActivity?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nickINActivity?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="whisperApp.campaignActivity.numberOfLinksToCampaignPages" for="field_numberOfLinksToCampaignPages">Number Of Links To Campaign Pages</label>
            <input type="number" class="form-control" name="numberOfLinksToCampaignPages" id="field_numberOfLinksToCampaignPages"
                [(ngModel)]="campaignActivity.numberOfLinksToCampaignPages" required />
            <div [hidden]="!(editForm.controls.numberOfLinksToCampaignPages?.dirty && editForm.controls.numberOfLinksToCampaignPages?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.numberOfLinksToCampaignPages?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.numberOfLinksToCampaignPages?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="whisperApp.campaignActivity.activityType" for="field_activityType">Activity Type</label>
            <select class="form-control" name="activityType" [(ngModel)]="campaignActivity.activityType" id="field_activityType"  required>
                <option value="PR">{{'whisperApp.ACTIVITY_TYPE.PR' | translate}}</option>
                <option value="NEUTRAL">{{'whisperApp.ACTIVITY_TYPE.NEUTRAL' | translate}}</option>
                <option value="COMMENT">{{'whisperApp.ACTIVITY_TYPE.COMMENT' | translate}}</option>
                <option value="ARTICLE">{{'whisperApp.ACTIVITY_TYPE.ARTICLE' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.activityType?.dirty && editForm.controls.activityType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.activityType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="whisperApp.campaignActivity.agentRate" for="field_agentRate">Agent Rate</label>
            <select class="form-control" id="field_agentRate" name="agentRate" [(ngModel)]="campaignActivity.agentRate">
                <option [ngValue]="null"></option>
                <option [ngValue]="agentRateOption.id === campaignActivity.agentRate?.id ? campaignActivity.agentRate : agentRateOption" *ngFor="let agentRateOption of agentrates; trackBy: trackAgentRateById">{{agentRateOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="whisperApp.campaignActivity.campaign" for="field_campaign">Campaign</label>
            <select class="form-control" id="field_campaign" name="campaign" [(ngModel)]="campaignActivity.campaign"  required>
                <option *ngIf="!editForm.value.campaign" [ngValue]="null" selected></option>
                <option [ngValue]="campaignOption.id === campaignActivity.campaign?.id ? campaignActivity.campaign : campaignOption" *ngFor="let campaignOption of campaigns; trackBy: trackCampaignById">{{campaignOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.campaign?.dirty && editForm.controls.campaign?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.campaign?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label jhiTranslate="whisperApp.campaignActivity.agent" for="field_agent">Agent</label>
            <select class="form-control" id="field_agent" multiple name="agent" [(ngModel)]="campaignActivity.agents">
                <option [ngValue]="getSelected(campaignActivity.agents, agentOption)" *ngFor="let agentOption of agents; trackBy: trackAgentById">{{agentOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
